:root {
    --primary-color: rgb(49, 52, 61);
    --secondary-color: rgb(146, 204, 205);
    --heading-color: rgb(68, 88, 118)
}

header {
    background-color: var(--primary-color);
    height: 80px;
}

main {
    width: 100%;
}

header h1 {
    font-size: 300%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.5rem 0.5rem 0 2.5rem;
    height: 60px;
}

nav {
    margin-right: 2%;
}

nav ul {
    display: flex;
}

nav ul li {
    font-size: 110%;
    border-bottom: solid var(--secondary-color) 3px;
    margin: 5px;
    padding: 0.2rem 0.5rem;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
}

section {
    display: flex;
    margin: 2rem;
    max-width: 3000px;
    margin: 2rem auto;
}

section h2 {
    text-align: right;
    font-size: 300%;
    color: var(--heading-color);
    min-width: 30%;
    max-width: 30%;
    padding-right: 2rem;
    margin-right: 1rem;
    border-right: solid 4px;
}

section p {
    padding: 0rem 0.5rem
}

section ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 120%;
    padding: 0rem 0.5rem
}

section div div img {
    border: solid var(--secondary-color) 3px;
    width: 100%;
}

section ul li {
    border-bottom: solid var(--heading-color);
    padding: 0.2rem 0.2rem;
}

a {
    text-decoration: none;
    color: black;
}

section img {
    object-fit: cover;
    height: 150px;
}

.deployed-applications {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0rem 0.5rem;
}

.image-card {
    margin-top: 2%;
    position: relative;
    width: 49%;
}

.image-title {
    position: absolute;
    bottom: 1rem;
    padding: 0.5rem;
    line-height: 1.5rem;
    background-color: var(--secondary-color);
    font-size: 120%;
}

.image-subtitle {
    font-size: 70%;
}

#inner-header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 3000px;
    height: 80px;
    margin: auto;
}

#subtitle {
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
    position: relative;
}

#subtitle img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

#subtitle h2 {
    font-size: 200%;
    position: absolute;
    bottom: 1.5rem;
    right: 2.5rem;
    background-color: var(--secondary-color);
    padding: 0.5rem;
}

#main-app {
    width: 100%;
    margin-top: 0;
}

#main-app img {
    height: 450px;
}