:root {
    --primary-color: rgb(49, 52, 61);
    --secondary-color: rgb(146, 204, 205);
    --heading-color: rgb(68, 88, 118);
    --filter-color: rgb(20, 97, 125);
}

header {
    background-color: var(--primary-color);
    height: 80px;
}

main {
    width: 100%;
}

header h1 {
    font-size: 300%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.5rem 0.5rem 0 2.5rem;
    height: 60px;
}

nav {
    margin-right: 2%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    font-size: 110%;
    border-bottom: solid var(--secondary-color) 3px;
    margin: 5px;
    padding: 0.2rem 0.5rem;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
}

section {
    display: flex;
    max-width: 2000px;
    margin: 2rem auto;
}

section h2 {
    text-align: right;
    font-size: 300%;
    color: var(--heading-color);
    min-width: 25%;
    max-width: 25%;
    padding-right: 2rem;
    margin-right: 1rem;
    border-right: solid 4px;
}

section h2 span {
    display: block;
}

section p {
    line-height: 1.5;
    padding: 0rem 0.5rem
}

section ul {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 120%;
    padding: 0rem 0.5rem
}

section img {
    border: solid var(--secondary-color) 3px;
    width: 100%;
    object-fit: cover;
    height: 150px;
}

section ul li {
    border-bottom: solid var(--heading-color);
    padding: 0.2rem 0.2rem;
}

a {
    text-decoration: none;
    color: black;
}

.deployed-applications {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0rem 0.5rem;
}

.image-card {
    margin-top: 2%;
    position: relative;
    width: 49%;
}

.image-title {
    position: absolute;
    bottom: 1rem;
    padding: 0.5rem;
    line-height: 1.5rem;
    background-color: var(--secondary-color);
    font-size: 120%;
}

.image-subtitle {
    font-size: 70%;
}

.image-filter {
    transition: 500ms;
    position: absolute;
    background-color: var(--filter-color);
    height: 150px;
    top: 0;
    width: 100%;
    opacity: 0.5;
}

.image-card:hover .image-filter {
    transition: 500ms;
    opacity: 0;
    cursor: pointer;
}

#inner-header {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 3000px;
    height: 80px;
    margin: auto;
}

#subtitle {
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
    position: relative;
}

#subtitle img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

#subtitle h2 {
    font-size: 200%;
    position: absolute;
    bottom: 1.5rem;
    right: 2.5rem;
    background-color: var(--secondary-color);
    padding: 0.5rem;
}

#main-app {
    width: 100%;
    margin-top: 0;
}

#main-app img,
#main-app .image-filter {
    height: 450px;
}

#subtitle-filter {
    height: 200px;
    background-color: rgb(22, 64, 128);
    transition: 0ms;
}

@media screen and (max-width: 760px) {
    #subtitle {
        display: none;
    }

    header {
        height: 180px;
    }

    #inner-header {
        justify-content: center;
        flex-wrap: wrap;

    }

    header h1 {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0.5rem;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 0.5rem;
    }

    nav ul li {
        border: none;
        width: 100%;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    section h2 {
        width: 100%;
        border: none;
        margin: 0 0 1.5rem 0;
        text-align: center;
        max-width: 100%;
        padding: 0;
    }

    section h2 span {
        display: inline;
    }

    section h2 span::before {
        content: " ";
    }

    section ul {
        flex-direction: column;
    }

    section ul li {
        margin: 0.5rem
    }

}